<a href="https://colab.research.google.com/github/shiyaamsunder/bda/blob/MD5zee/Data_test_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('/content/1_india_disability.csv')

# Box plot
plt.figure(figsize=(10, 6))
sns.boxplot(data=df[['Total disabled population - Persons']])
plt.title('Box Plot of Total Disabled Population')
plt.show()

# Z-Score
from scipy.stats import zscore
z_scores = zscore(df[['Total disabled population - Persons']])
threshold = 3
outliers = (abs(z_scores) > threshold).all(axis=1)
outlier_data = df[outliers]
#print(outlier_data)

# IQR Method
Q1 = df[['Total disabled population - Persons']].quantile(0.25)
Q3 = df[['Total disabled population - Persons']].quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = ((df[['Total disabled population - Persons']] < (Q1 - 1.5 * IQR)) | (df[['Total disabled population - Persons']] > (Q3 + 1.5 * IQR))).any(axis=1)
outlier_data_iqr = df[outliers_iqr]

      State Code                Area Name Total/ Rural/Urban   Disability  \
0              0                    INDIA              Total        Total
1              0                    INDIA              Total        Total
2              0                    INDIA              Total        Total
3              0                    INDIA              Total        Total
4              0                    INDIA              Total        Total
...          ...                      ...                ...          ...
4557          33  State - TAMIL NADU (33)              Urban   In-Hearing
4565          33  State - TAMIL NADU (33)              Urban  In-Movement
4567          33  State - TAMIL NADU (33)              Urban  In-Movement
4580          33  State - TAMIL NADU (33)              Urban    Any-Other
4582          33  State - TAMIL NADU (33)              Urban    Any-Other

           Age-group  Total disabled population - Persons  \
0              Total                             26814994
1               0-14                              5572336
2              15-59                             15728243
3                60+                              5376619
4     Age not stated                               137796
...              ...                                  ...
4557           15-59                                73283
4565           Total                               128617
4567           15-59                                97337
4580           Total                               124548
4582           15-59                                86973

      Total disabled population - Males  Total disabled population - Females  \
0                              14988593                             11826401
1                               3073214                              2499122
2                               9125226                              6603017
3                               2713995                              2662624
4                                 76158                                61638
...                                 ...                                  ...
4557                              36389                                36894
4565                              79234                                49383
4567                              59771                                37566
4580                              68062                                56486
4582                              47644                                39329

      Main worker - Persons  Main worker - Males  Main worker - Females  \
0                   6982009              5464857                1517152
1                    100779                61870                  38909
2                   5808809              4559220                1249589
3                   1036384               816764                 219620
4                     36037                27003                   9034
...                     ...                  ...                    ...
4557                  32500                24023                   8477
4565                  48840                39343                   9497
4567                  44728                35870                   8858
4580                  42713                32296                  10417
4582                  38320                29029                   9291

      Non-worker - Persons  Non-worker - Males  Non-worker - Females
0                 17070608             7915768               9154840
1                  5344297             2942702               2401595
2                  7785245             3317990               4467255
3                  3854887             1614909               2239978
4                    86179               40167                 46012
...                    ...                 ...                   ...
4557                 34703                8980                 25723
4565                 74132               35871                 38261
4567                 47652               20386                 27266
4580                 72894               30423                 42471
4582                 41210               14168                 27042

[723 rows x 14 columns]